@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .blue-text {
    color: #017FB9; 
  }
}

@layer base {
  .font-italiana {
    font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal; 
  }
}
